<!DOCTYPE html>
<html ng-app="ajnachakra">
  <head>
	<title>Ajna Chakra demo page</title>
	<link rel="stylesheet" type="text/css" href="./css/demo.css">
	<link rel="stylesheet" type="text/css" href="./css/vendor/bootstrap-3.1.1-dist/css/bootstrap.css">
	<script data-main="./js/main" src="./js/vendor/requirejs/require.js"></script>
	<script src="./js/vendor/angular/angular.min.js"></script>
	<script src="./js/ui/ui.js"></script>
  </head>

  <body>

	<div class="container" ng-controller="UiController">

	  <div class="row">
		<div class="col-sm-12">
		  <canvas class="overlay" id="overlay-gui"></canvas>
		  <canvas class="overlay" id="overlay-detector"></canvas>
		  <video autoplay id="video"></video>
		</div>
	  </div>

	  <div class="row">
		<label class="col-sm-2"> Fudge
		  <input type="number" ng-model="fudge" max="0.8" min="0.01" smart-float />
		</label>

		<label class="col-sm-2"> Skip
		  <input type="number" ng-model="skip" min="1" />
		</label>
	  </div>
	</div>

  </body>
</html>

